<div class="c select-form home-select">
  <div class="select-list home-list">
    <%= link_to "新着", latest_url %>
  </div>
  <div class="select-list home-list">
    <%= link_to "フォロー中", root_url %>
  </div>
</div>