<%= render 'home_select' %>
<div class="container">
  <div class="post-main">
    <% if @kicksposts.blank? %>
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'image',
                           text: 'follow' } %>
    <% else %>
      <div class="post-line clear">
        <ul>
          <%= render partial: @kicksposts,
                     locals: { comment_disnum: nil,
                               post_page: false } %>
        </ul>
      </div>
    <% end %>
  </div>
</div>