<div class="select home-select c">
  <div class="container clear">
    <div class="select-list home-list alist aline">
      <%= link_to "新着", latest_path %>
    </div>
    <div class="select-list home-list alist aline">
      <%= link_to "フォロー中", follow_path %>
    </div>
    <div class="select-list home-list alist aline">
      <%= link_to "写真", follow_square_path %>
    </div>
  </div>
</div>