<%= render 'home_select' %>
<div class="container">
  <div class="post-main">
    <% if @kicksposts.blank? %>
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'image',
                           text: 'follow' } %>
    <% else %>
      <% if params[:display] == "square" %>
        <div class="post-line clear" data-react-entry="FollowingSquarePosts"></div>
      <% else %>
        <div class="post-line clear">
          <% @kicksposts.each do |kickspost| %>
            <%= render partial: 'shared/post_main',
                      locals: { post: kickspost,
                                type: 'Kickspost',
                                reply_on: false,
                                post_page: false } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>