<div class="c select home-select">
  <div class="select-list home-list alist aline">
    <%= link_to "新着", latest_path %>
  </div>
  <div class="select-list home-list alist aline">
    <%= link_to "フォロー中", root_path %>
  </div>
  <div class="select-list home-list alist aline">
    <%= link_to "写真", root_path(display: 'square') %>
  </div>
</div>