<%= provide(:title, "お問い合わせ") %>
<div class="content">
  <div class="page-title">
    <h1 class="title-text">お問い合わせ</h1>
  </div>
  <div class="d">
    <p>Find me in app/views/static_pages/contact.html.erb</p>
  </div>
</div>

