<% provide(:title, "ヘルプ") %>
<% provide(:og_title, "ヘルプ") %>
<% provide(:og_url, help_url) %>

<div class="content">
  <div class="page-title">
    <h1 class="title-text">ヘルプ</h1>
  </div>
  <div class="content">
  </div>
</div>