<div class="post-main">
  <% if @kicksposts.blank? %>
    <%= render partial: 'shared/no_data',
                 locals: { user: @user,
                           target: "data" } %>
  <% else %>
    <div class="post-line clearfix">
      <ul>
        <%= render @kicksposts %>
      </ul>
    </div>
  <% end %>
</div>