<div class="post-main">
  <% if @kicksposts.blank? %>
    <%= render partial: 'shared/no_data',
                 locals: { user: @user,
                           target: "data" } %>
  <% else %>
    <ul>
      <%= render @kicksposts %>
    </ul>
  <% end %>
</div>