@import '../../../stylesheets/_common.module.scss';

.link-list {
  position: relative;
  width: 100%;
  font-size: 12.5px;
  background: $base;

  .content-link {
    display: block;
    position: relative;
    z-index: 5;
    height: 100%;
    width: 100%;
  }

  .content-abs {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .content-height {
      width: 100%;

      .list-content {
        position: relative;
        width: 100%;
        padding: 5%;
        word-wrap: break-word;
        border-bottom: 1px solid $weak-grey;
      }
    }
  }
}
