@import '../../../stylesheets/_common.module.scss';

.nav-list {
  display: none;
  left: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 50;
  width: 132px;
  background: $base;
  border: 1px solid $base-grey;

  li {
    z-index: 60;
    font-size: 13px;
    font-weight: 450;
    line-height: 45px;
    background: $base;

    a {
      display: block;
    }

    a,
    span {
      color: $main;
    }
  }

  .bar {
    height: 0;
    border-top: 1px solid $weak-grey;
  }
}
