<% provide(:title, "再設定URL送信確認") %>

<div class="content-pspace">
  <div class="ns-page-title">
    <h1 class="title-text">再発行URL送信完了</h1>
  </div>
  <div class="text">
    <p>パスワード再設定URLをメールアドレスに送信しました。ご確認の上、<b>2時間以内</b>にパスワードの再設定を行ってください。</p>
  </div>
  <div class="c button-back button-mini">
    <a href="<%= root_path %>">
      <%= fa_icon("caret-left") %><span>Topへ</span>
    </a>
  </div>
</div>