<% provide(:title, "パスワード再発行確認") %>

<div class="content-pspace">
  <div class="ns-page-title">
    <h1 class="title-text">仮ログインURL送信完了</h1>
  </div>
  <div class="reset-text">
    <p>仮ログインURLをメールアドレスに送信しました。ご確認の上、<b>24時間以内</b>にパスワードの再発行を行ってください。</p>
  </div>
</div>