<% provide(:title, "パスワードを忘れた") %>

<div class="content-pspace">
  <div class="ps-page-title">
    <h1 class="title-text">パスワードを忘れた</h1>
  </div>
  <div class="text">
    <p>パスワード再発行URLをメールアドレスに送信します。登録済みのメールアドレスを入力してください。</p>
    <% if logged_in? && !current_user.uid.nil? %>
      <p class="sfont">※Twitterによりアカウントを作成後、メールアドレスを編集していない方は、先に「アカウント設定」からメールアドレスの編集を行ってください。</p>
    <% end %>
  </div>
  <div class="form">
    <%= form_tag(:password_reset, url: password_reset_path) do %>
      <div class="base-form">
        <%= email_field_tag :email, nil, placeholder: "メールアドレス" %>
      </div>
      <div class="c button accent nls">
        <%= submit_tag "パスワードを再設定する", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>