@import '../../../../stylesheets/_common.module.scss';

.form-follow {
  background: #fff;
  border: 1px solid $accent;
  border-radius: 3px;
  height: 30px;
  width: 50px;

  form,
  button,
  a {
    color: $accent;
    display: block;
    font-size: 14px;
    line-height: 30px;
    height: 100%;
    width: 100%;

    .fa {
      margin: 1px;
    }

    .fa-plus {
      font-size: 10px;
    }
  }

  a {
    line-height: 28px;
  }
}

.form-unfollow {
  background: $accent;
  border-radius: 3px;
  height: 30px;
  width: 50px;

  a,
  form,
  button {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 30px;
    height: 100%;
    width: 100%;

    .fa {
      margin: 1px;
    }

    .fa-check {
      font-size: 10px;
    }
  }
}
