<span><%= uname %></span>さん
<% if count >= 2 %>
  , 他 <%= count - 1 %>人
  <% if ntype == "Follow" %>
    があなたをフォローしています。
  <% elsif ntype == "Kickspost" %>
    があなたの投稿にグッドをしています。
  <% elsif ntype == "Comment" %>
    があなたのコメントにグッドをしています。
  <% end %>
<% else %>
  <% if ntype == "Follow" %>
    があなたをフォローしています。
  <% elsif ntype == "Kickspost" %>
    があなたの投稿にグッドをしています。
  <% elsif ntype == "Comment" %>
    があなたのコメントにグッドをしています。
  <% elsif ntype == "NormalCom" %>
    からコメントがあります。
  <% elsif ntype.in?(["ReplyCom", "ReplyPost"]) %>
    から返信があります。
  <% end %>
<% end %>