<span><span class="notice-name over-name"><%= uname %></span>さん
<% if count >= 2 %>
  , 他 <%= count - 1 %>人
<% end %>
<% case ntype
  when 'Follow' %>
  があなたをフォローしています。
<% when 'Kickspost' %>
  があなたの投稿にグッドをしています。
<% when 'Comment' %>
  があなたのコメントにグッドをしています。
<% when 'NormalCom' %>
  からコメントがあります。
<% when 'ReplyCom' %>
  から返信があります。
<% when 'ReplyPost' %>
  から投稿があります。
<% end %> 
</span>