<div class="npost-main clear">
<div class="c index-left kpost-left">
  <div class="npost-picture">
    <div class="abs-center">
      <%= link_to image_tag(picture_url(kickspost),
                            alt: kickspost.content,
                            size: 50),
                  kickspost_path(kickspost.user.mysize_id, kickspost) %>
    </div>
  </div>
</div>
<div class="kpost-center notice-comment-text">
  <div class="kpost-content autolink">
    <%= kickspost.content %>
  </div>
</div>
</div>