<% provide(:title, "通知") %>
<%= render 'layouts/center_header', header_text: "通 知" %>

<% if logged_in? && @notices.any? %>
<div class="content-nspace">
  <ul>
    <%= render @notices %>
  </ul>
</div>
<% else %>
  <%= render partial: 'shared/no_data',
                 locals: { target: "notice" } %>
<% end %>