@import '../../../../stylesheets/_common.module.scss';

.square-list {
  display: block;
  float: left;
  position: relative;
  max-width: 200px;
  width: 33.3%;

  .square-picture {
    position: relative;
    width: 100%;
    border: 0.5px solid #fff;

    a {
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }

  .square-picture::before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  .square-size {
    bottom: 3px;
    position: absolute;
    right: 3px;
    height: 24px;
    padding: 6px;
    font-size: 10px;
    color: white;
    letter-spacing: 0.5px;
    line-height: 12px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    pointer-events: none;
  }
}
