<p>Mysizeへようこそ!</p>

<p>ご登録いただきありがとうございます。</p>
<p>Mysizeはあなたのマイスニーカーを投稿したり、スニーカーのサイズ感や履き心地などの情報を共有するスニーカーヘッズのためのSNSです。</p>

<p>早速あなたのマイスニーカーのサイズ感などを投稿してみましょう！</p>
<%= link_to "Mysizeへアクセス", root_url %>