<div class="comment-content">
  <%= link_to comment.user.mysize_id,
              user_path(comment.user, display: "square"),
              class: "content-name", id: "content-name-" + comment.id.to_s %>
  <span><%= comment.content %></span>
</div>