<li id="comment-<%= comment.id %>" class="link-list kpost-main clear">
  <a class="content-link" href="<%= kickspost_url(comment.kickspost.user.mysize_id, comment.kickspost) %>"></a>
  <div class="content-abs">
    <div class="content-height">
      <div class="list-content clear">
        <%= render partial: 'shared/post_main',
                   locals: { post: comment,
                             type: 'Comment',
                             reply_on: false } %>
      </div>
    </div>
  </div>
</li>