<% provide(:title, "スレッド") %>
<% provide(:og_title, "スレッド") %>
<% provide(:og_url, comments_url) %>

<div class="container content-nspace">
  <%= render partial: 'shared/no_data',
             locals: { icon: 'develop',
                       text: 'develop' } %>
</div>