@import '../../../../stylesheets/common.scss';

.square-list {
  display: block;
  float: left;
  max-width: 200px;
  position: relative;
  width: 33.3%;

  .square-picture {
    border: 0.5px solid #fff;
    position: relative;
    width: 100%;

    a {
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .square-picture:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .square-size {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 10px;
    height: 24px;
    line-height: 12px;
    letter-spacing: 0.5px;
    padding: 6px;
    pointer-events: none;
    position: absolute;
    right: 3px;
    bottom: 3px;
  }
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
