<div class="c select-form post-select">
  <div class="select-list post-list alist aline">
    <%= link_to fa_icon("th"), user_path(user, display: "square") %>
  </div>
  <div class="select-list post-list alist aline">
    <%= link_to fa_icon("list-ul"), user_path(user) %>
  </div>
  <div class="select-list post-list alist aline">
    <%= link_to fa_icon("thumbs-up"), good_user_path(user) %>
  </div>
</div>