<% unless current_user?(user) %>
  <div id="follow-form">
  <% if current_user.following?(user) %>
    <div class="form-unfollow">
      <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
                   html: { method: :delete },
                   remote: true) do |f| %>
        <% f.button fa_icon("user") + fa_icon("check") %>
      <% end %>
    </div>
  <% else %>
    <div class="form-follow">
      <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :followed_id, user.id %></div>
        <%= f.button fa_icon("user") + fa_icon("plus") %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>