<% provide(:title, '管理者ページ') %>

<div class="content-nspace">
  <div class="ns-page-title">
    <h1 class="title-text">管理者ページ</h1>
  </div>
  <div class="setting-select">
    <ul>
      <% @ausers.each do |user| %>
        <%= render(partial: 'users/auser', object: user) %>
      <% end %>
    </ul>
  </div>
</div>