<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mysize(マイサイズ)はスニーカーのサイズ感や履き心地を共有し合う「スニーカー特化型のSNS」です。あなたのマイスニーカーの情報を写真と共に保管したり、手に入れたいあのスニーカーのサイジングを簡単に調べることができます。">
    <meta name="keywords" content="スニーカー, サイズ感, サイジング, sns">
    <meta property="og:site_name" content="Mysize">
    <meta property="og:site_type" content="website">
    <meta property="og:title" content="Mysize -スニーカーサイジング共有SNS-">
    <meta property="og:url" content="root_url">
    <!--<meta property="og:image" content="#">-->
    <meta property="og:description" content="Mysize(マイサイズ)はスニーカーのサイズ感や履き心地を共有し合う「スニーカー特化型のSNS」です。あなたのマイスニーカーの情報を写真と共に保管したり、手に入れたいあのスニーカーのサイジングを簡単に調べることができます。">
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if params[:key] == 'mysizeid' %>
      <div id="index111">
        <p id="index-id" style="color: #fff;">
          <%= render @users %>
        </p>
      </div>
    <% end %>
  </body>
</html>