<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% if params[:key] == 'mysizeid' %>
      <div id="index111">
        <p id="index-id">
          <%= render @users %>
        </p>
      </div>
    <% end %>
  </body>
</html>