<% provide(:title, @user.name + "(@" + @user.mysize_id + ")さんの" + @title) %>
<%= render 'layouts/back', back_path: "#{user_path(@user)}" %>
<%= render 'layouts/center_header', header_text: @title %>
<% unless @users.blank? %>
  <div class="content-nspace">
    <div class="setting-select">
      <ul>
        <%= render @users %>
      </ul>
    </div>
  </div>
<% else %>
  <%= render partial: 'shared/no_data',
                 locals: { user: @user,
                           target: "person" } %>
<% end %>