<% provide(:title, @user.name + "(@" + @user.mysize_id + ")さん") %>
<% provide(:og_title, @user.name + "(@" + @user.mysize_id + ")さん") %>
<% provide(:og_url, user_url(@user)) %>

<div class="content-mspace">
  <%= render partial: 'users/user_profile',
             locals: { user: @user } %>
</div>
<div class="post">
  <%= render partial: 'users/post_select',
             locals: { user: @user } %>
  <div class="post-main">
    <% if @user.kicksposts.blank? %>
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'image',
                           text: 'post' } %>
    <% else %>
      <div class="post-line clear">
        <ul>
          <%= render partial: @kicksposts,
                     locals: { comment_disnum: nil,
                               post_page: false } %>
        </ul>
      </div>
    <% end %>
  </div>
</div>