<div class="c no-post">
  <i class="fa fa-image"></i>
  <div class="no-text">表示できるデータがありません</div>
  <% if current_user?(@user) %>
    <div class="no-text">あなたのマイスニーカーを投稿しましょう</div>
    <div class="no-link">
      <a href="<%= upload_path %>">
        <%= fa_icon("plus-square") %><span>投稿する</span>
      </a>
    </div>
  <% end %>
</div>