<% if params[:display] == "square" %>
  <li id="square-<%= kickspost.id %>" class="square-list">
    <div class="square-picture">
      <%= link_to image_tag('/images/grey.gif', alt: kickspost.content,
                        class: 'cover lazyload', data: { src: picture_url(kickspost) } ),
                        kickspost_path(kickspost.user, kickspost) %>
    </div>
    <div class="square-size">
      <%= kickspost.size %>
    </div>
  </li>
<% else %>
  <%= render partial: 'shared/post_main',
             locals: { post: kickspost,
                       type: 'Kickspost',
                       reply_on: false,
                       post_page: post_page } %>
<% end %>