<li class="link-list kpost-main kpost-list-<%= kickspost.id %> clear">
  <a class="content-link" href="<%= kickspost_url(kickspost.user.mysize_id, kickspost) %>"></a>
  <div class="content-abs">
    <div class="content-height">
      <div class="list-content clear">
        <%= render partial: 'kicksposts/kickspost_main',
                   locals: { kickspost: kickspost } %>
      </div>
    </div>
  </div>
</li>