<li id="postsquare-<%= kickspost.id %>" class="postsquare-list">
  <div class="square-picture">
    <a class="cover" href="<%= kickspost_path(kickspost.user.mysize_id, kickspost) %>" style="background-image: url('<%= picture_url(kickspost) %>')"></a>
  </div>
</li>
