<div class="post-main">
  <%= render partial: 'kicksposts/kickspost', locals: { kickspost: @kickspost } %>
  <div class="post-comment">
    <ul>
      <%= render @comments, kickspost: @kickspost unless @comments.nil? %>
    </ul>
  </div>
  <% if logged_in? %>
    <%= render 'comments/comment_form' %>
  <% end %>
</div>