<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, "更新") %>
<% provide(:post_url, profile_settings_path) %>

<div class="content">
  <div class="page-title">
    <h1 class="title-text">プロフィール編集</h1>
  </div>
  <div class="set-form">
    <%= render 'profile_form' %>
  </div>
</div>