<% provide(:title, "お問い合わせありがとうございます。") %>

<div class="content">
  <div class="page-title">
    <h1 class="title-text">送信完了</h1>
  </div>
  <div class="text">
    <p>お問い合わせいただき、ありがとうございます。内容を確認次第、追って対応させていただきます。</p>
  </div>
  <div class="c button-back button-mini">
    <a href="<%= root_path %>">
      <%= fa_icon("caret-left") %><span>Topへ</span>
    </a>
  </div>
</div>