@import '../../../../stylesheets/_common.module.scss';

.good-form {
  position: relative;
  height: 100%;
  width: 100%;

  .form-good,
  .form-ungood {
    height: 100%;
    width: 100%;

    a,
    form,
    button {
      display: block;
      height: 100%;
      width: 100%;

      .fa {
        color: $base-grey;
      }
    }
  }

  .form-ungood {
    a .fa,
    form button .fa {
      color: $waccent;
    }
  }
}

.kpost-aicon {
  float: left;
  height: 100%;
  width: 30px;
  margin-right: 5px;
  padding: 0 5px;
  line-height: 20px;
  cursor: pointer;

  .good-form div form button i {
    font-size: 15px;
  }

  a,
  i {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  .fa-reply {
    line-height: 22px;
  }
}
