<p>Mysizeアプリについて以下のお問い合わせを受け取りました。</p>

<p>件名:<%= @contact.name %></p>
<p>--------------------------</p>
<p>メールアドレス：<%= @contact.email %></p>
<p>--------------------------</p>
<p>＜お問い合わせ内容＞</p>
<p><%= @contact.message %></p>