@import '../../../../stylesheets/_common.module.scss';

.list-image {
  display: block;
  float: left;
  position: relative;
  z-index: 10;
  height: 50px;
  width: 50px;
  padding: 5px;

  img {
    display: block;
    border-radius: 17.5%;
  }
}

.kpost-main {
  position: relative;
  width: 100%;

  .kpost-left {
    .kpost-icon {
      margin-top: 10px;
    }
  }

  .kpost-center {
    float: left;
    position: relative;
    height: 100%;
    width: 62%;
    margin: 0 3% 30px;
    word-wrap: break-word;

    .kpost-name {
      width: 100%;

      a {
        display: inline-block;
        position: relative;
        z-index: 20;
        max-width: 100%;
        padding: 5px 0;
        font-size: 12.5px;
        font-weight: 550;
        color: $main;

        span {
          font-weight: 450;
          color: $base-grey;
        }
      }
    }

    .kpost-brand {
      margin-bottom: 6px;
      font-size: 10px;
    }

    .kpost-title {
      margin-bottom: 6px;
      font-size: 14px;

      span {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .kpost-content {
      font-size: 12.5px;
      font-weight: 500;
    }
  }

  .comment-center {
    margin-right: 0;
    width: 72%;
  }

  .kpost-act {
    bottom: 20px;
    position: absolute;
    height: 20px;
    margin-left: 16.5%;
    font-size: 17px;
    color: $base-grey;

    .kpost-time {
      float: left;
      margin-right: 15px;
      font-size: 10.5px;
      line-height: 20px;
    }

    .kpost-alist {
      float: left;
      position: relative;
      z-index: 25;
      height: 20px;
      margin-right: 15px;
      line-height: 20px;

      .kpost-aicon {
        float: left;
        height: 100%;
        width: 30px;
        margin-right: 5px;
        padding: 0 5px;
        line-height: 20px;
        cursor: pointer;

        .good-form div form button i {
          font-size: 15px;
        }

        a,
        i {
          display: block;
          height: 100%;
          width: 100%;
          font-size: 15px;
          line-height: 20px;
          text-align: center;
        }

        .fa-reply {
          line-height: 22px;
        }
      }

      .kpost-num {
        float: left;
        font-size: 12.5px;
        line-height: 20px;

        a,
        span {
          display: block;
          min-width: 30px;
          padding: 0 10px;
        }
      }

      .kpost-alink {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .alist-last {
      margin: 0;
    }
  }

  .comment-act {
    margin-left: 18%;
  }

  .reply-act {
    margin-left: 23%;
  }

  .kpost-right {
    float: right;
    position: relative;
    width: 17%;

    .kpost-right-top {
      position: relative;
      width: 100%;

      .kpost-menu {
        position: relative;
        z-index: 60;
        width: 50%;
        margin-left: 50%;
        padding: 5px 0;
        cursor: pointer;

        .post-nav i {
          font-size: 14px;
        }
      }

      .kpost-picture {
        position: relative;
        height: 55px;
        width: 55px;
        margin: 5px 0 60px;

        a {
          display: block;
          left: 0;
          position: absolute;
          top: 0;
          z-index: 10;
          height: 100%;
          width: 100%;
        }
      }

      .kpost-picture::before {
        display: block;
        padding-top: 100%;
        content: '';
      }

      .kpost-size {
        bottom: -28px;
        right: 11px;
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .comment-right {
    width: 10%;

    .kpost-right-top {
      .comment-menu {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.index-left {
  float: left;
  position: relative;
  width: 15%;

  .index-image {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px 0 25px;
  }
}

.index-size {
  bottom: -23px;
  position: absolute;
  right: 9px;
  height: 30px;
  width: 30px;
  font-size: 10px;
  letter-spacing: 0.4px;
  line-height: 32px;
  text-align: center;
  background: rgba(255, 0, 0, 0.45);
  border-radius: 50%;
  pointer-events: none;

  span {
    color: #fff !important;
  }
}

.reply-main {
  .kpost-reply-icon {
    float: left;
    width: 5%;

    i {
      color: #fff;
      font-size: 18px;
    }
  }

  .kpost-center {
    width: 57%;
  }

  .comment-center {
    width: 67%;
  }
}
