@import '../../../../stylesheets/common.scss';

.link-list {
  background: $base;
  font-size: 12.5px;
  position: relative;
  width: 100%;

  .content-link {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 5;
  }

  .content-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .content-height {
      width: 100%;

      .list-content {
        border-bottom: 1px solid $weak-grey;
        padding: 5%;
        position: relative;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}

.list-image {
  display: block;
  float: left;
  height: 50px;
  padding: 5px;
  position: relative;
  width: 50px;
  z-index: 10;

  img {
    border-radius: 17.5%;
    display: block;
  }
}

.kpost-main {
  position: relative;
  width: 100%;

  .kpost-left {
    .kpost-icon {
      margin-top: 10px;
    }
  }

  .kpost-center {
    float: left;
    height: 100%;
    margin: 0 3% 30px;
    position: relative;
    width: 62%;
    word-wrap: break-word;

    .kpost-name {
      width: 100%;

      a {
        color: $main;
        display: inline-block;
        font-size: 12.5px;
        font-weight: 550;
        max-width: 100%;
        padding: 5px 0;
        position: relative;
        z-index: 20;

        span {
          color: $base-grey;
          font-weight: 450;
        }
      }
    }

    .kpost-brand {
      font-size: 10px;
      margin-bottom: 6px;
    }

    .kpost-title {
      font-size: 14px;
      margin-bottom: 6px;

      span {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .kpost-content {
      font-size: 12.5px;
      font-weight: 500;
    }
  }

  .comment-center {
    margin-right: 0;
    width: 72%;
  }

  .kpost-act {
    color: $base-grey;
    font-size: 17px;
    height: 20px;
    margin-left: 16.5%;
    position: absolute;
    bottom: 20px;

    .kpost-time {
      font-size: 10.5px;
      float: left;
      line-height: 20px;
      margin-right: 15px;
    }

    .kpost-alist {
      float: left;
      height: 20px;
      line-height: 20px;
      margin-right: 15px;
      position: relative;
      z-index: 25;

      .kpost-aicon {
        cursor: pointer;
        float: left;
        height: 100%;
        line-height: 20px;
        margin-right: 5px;
        padding: 0 5px;
        width: 30px;

        .good-form div form button i {
          font-size: 15px;
        }

        a,
        i {
          display: block;
          height: 100%;
          font-size: 15px;
          line-height: 20px;
          text-align: center;
          width: 100%;
        }

        .fa-reply {
          line-height: 22px;
        }
      }

      .kpost-num {
        float: left;
        font-size: 12.5px;
        line-height: 20px;

        a,
        span {
          display: block;
          min-width: 30px;
          padding: 0 10px;
        }
      }

      .kpost-alink {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .alist-last {
      margin: 0;
    }
  }

  .comment-act {
    margin-left: 18%;
  }

  .reply-act {
    margin-left: 23%;
  }

  .kpost-right {
    float: right;
    position: relative;
    width: 17%;

    .kpost-right-top {
      position: relative;
      width: 100%;

      .kpost-menu {
        margin-left: 50%;
        padding: 5px 0;
        position: relative;
        width: 50%;
        z-index: 60;

        .post-nav i {
          font-size: 14px;
        }
      }

      .kpost-picture {
        margin: 5px 0 60px;
        position: relative;
        height: 55px;
        width: 55px;

        a {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 10;
        }
      }

      .kpost-picture:before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .kpost-size {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        bottom: -28px;
        right: 11px;
      }
    }
  }

  .comment-right {
    width: 10%;

    .kpost-right-top {
      .comment-menu {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.index-left {
  float: left;
  position: relative;
  width: 15%;

  .index-image {
    height: 50px;
    margin: 5px 0 25px;
    position: relative;
    width: 50px;
  }
}

.index-size {
  background: rgba(255, 0, 0, 0.45);
  border-radius: 50%;
  font-size: 10px;
  height: 30px;
  letter-spacing: 0.4px;
  line-height: 32px;
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: -23px;
  right: 9px;
  width: 30px;

  span {
    color: #fff !important;
  }
}
