<div class="form-ungood">
  <%= form_for(current_user.goods.find_by(kind: kind, kind_id: kind_model.id),
               html: { method: :delete },
               remote: true) do |f| %>
    <% button_tag fa_icon("thumbs-up") %>
  <% end %>
</div>