@import '../../../../stylesheets/_common.module.scss';

.good-form {
  height: 100%;
  position: relative;
  width: 100%;

  .form-good,
  .form-ungood {
    height: 100%;
    width: 100%;
    a,
    form,
    button {
      display: block;
      height: 100%;
      width: 100%;
      .fa {
        color: $base-grey;
      }
    }
  }

  .form-ungood {
    a .fa,
    form button .fa {
      color: $waccent;
    }
  }
}
