@import "font-awesome";

/* mixins, variables, ertc. */

$base: #fff;  /* white */
$main: #000;  /* black */
$accent: #ff0000;  /* red */
$waccent: #ff6666; /* week red*/
$test: #e6e6fa;
$back: #fafafa;
$base-grey: #999;
$twi-blue: #55acee;
$twi-grey: #657786;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* base */

* {
  @include box_sizing;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

body {
  background: $back;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  position: relative;
  padding: 51px 0;
}

a {
  color: $main;
  text-decoration: none;

  .fa {
    color: $base-grey;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
   font-weight: 100%;
}

li {
  list-style: none;
}

button,
input[type="submit"] {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.c {
  text-align: center;
}

.content {
  /*margin: 20px;*/
  padding: 45px;
  background: $base;

  p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 30px 0;
  }
}

.page-title {
  padding-bottom: 30px;
  text-align: center;
}

.top-text {
  background: #fff;
  height: 150px;
  margin: 0 auto;
  padding: 10px;
  width: 270px;

  img {
    display: inline-block;
    float: left;
    height: 80px;
    margin: 25px 10px;
    width: 80px;
  }

  span {
    color: $accent;
    display: inline-block;
    float: left;
    font-size: 100px;
    line-height: 130px;
  }
}

.title-text {
  color: $main;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.ns-page-title {
  padding: 10px;
  text-align: center;
}

.ps-page-title {
  padding: 20px;
  text-align: center;
}

.content-sspace {
  background: $base;
  padding: 10px;
  position: relative;
}

.content-mspace {
  background: $base;
  padding: 16px;
  position: relative;
}

.content-nspace {
  background: $base;
  position: relative;
}

.content-pspace {
  background: $base;
  padding: 10px 40px;
  position: relative;
}

header {
  background: $base;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #eee;
  height: 51px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.wrapper {
  height: 50px;
  background: $base;
  text-align: center;
  position: relative;
}


.atention {
  margin: 0 auto;
  width: 85%;

  p a {
    color: #3599f0;
    text-decoration: underline;
  }
}

.welcome-text {
  padding-bottom: 20px;
  width: 100%;

  p {
    font-weight: 550;
    padding: 0;
  } 
}

.to-top {
  height: 70px;
  padding: 20px 0;
  margin: 0 auto;
  width: 90px;

  a {
    border: 1px solid $base-grey;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;

    i {
      margin-right: 5%;
      width: 20%;
    }

    span {
      font-weight: 550;
      width: 75%;
    }
  }
}

/* header */

.header-link {
  position: relative;
  float: left;
  height: 50px;
  line-height: 50px;
  width: 33.3%;

  a {
    display: block;
    font-size: 1.25em;

    .fa {
      padding: 10px;
    }
  }
}

.left-header {
  margin: 0 57% 0 7%;
  height: 50px;

  i {
    color: $main;
  }
/*
  i {
    background: $accent;
    border-radius: 17.5%;
    color: $base;
  }
*/
  img {
    background: $back;
    border-radius: 17.5%;
    margin: 5px 0;
  }
}

.logo {
  margin: 10px 0;

  .logo-text {
    color: $accent;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 90px;

    img {
      display: inline-block;
      float: left;
      margin: 3px;
    }
    span {
      display: inline-block;
      float: left;
      font-size: 2.0em;
      margin-bottom: 5px;
    }
  }
}

.logo-font {
  font-family: 'Chathura', sans-serif;
}

.right-header {
  margin: 0 5% 0 57%;
}

/* navigation */

nav {
  background: $base;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 23;
  border-top: 1px solid #eee;
  height: 51px;
}

.nav-link {
  position: relative;
  float: left;
  line-height: 50px;
  width: 25.0%; /*追加時変更*/

  a {
    display: block;
    font-size: 1.25em;
    margin: 0 21.8px; /*追加時変更(4=>21.8px, 5=>15.6px)*/
    position: relative;

    .fa {
      padding: 14px;
    }

    .fa-05x {
     font-size: 0.5em;
    }
  }
}

/* footer */

.my-footer {
  text-align: center;
  padding: 20px;

  .links {

    a:hover {
      opacity: 0.5;
    }

    a {
      display: inline-block;
      color: $twi-grey;
      font-size: 12px;
      padding: 5px;
      text-decoration: none;
    }
  }

  a {
    color: $twi-grey;
  }
}

.my-navi {
  height: 50px;
  background: $main;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  border-bottom: 1px solid #eee;
  width: 100%

  a {
    color: $main;
  }
}

/* profile */

.profile-top {
  height: 90px;
  position: relative;
  width: 100%;
}

.user_icon {
  float: left;
  height: 100%;
  position: relative;
  width: 22%;

  img {
    max-width: 90px;
    width: 100%;
  }
}

/* background表示ver
.icon1 {
  background: no-repeat center;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
}
*/

.user_stats {
  float: left;
  height: 100%;
  margin: 0 2%;
  position: relative;
  width: 74%;

  a {
    display: block;
    float: left;
    font-size: 0.65em;
    padding: 1% 2%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 33.3%;

    .num {
      font-size: 1.7em;
    }
  }
}

.profile-middle {
  height: 50px;
  position: relative;
  width: 100%;
}

.user-text {
  float: left;
  height: 50px;
  position: relative;
  width: 50%;
}

.user-name {
  position: relative;
}

.user-mysizeid {
  position: relative;
  font-size: 0.8em;
  color: $base-grey;
}

.set-profile {
  border: 1px solid $twi-grey;
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: 600;
  float: left;
  height: 30px;
  margin: 8px 2% 12px;
  position: relative;
  width: 36%;

  a {
    display: block;
    line-height: 28px;
    text-align: center;
    width: 100%;
  }
}

.set-option {
  border: 1px solid $twi-grey;
  border-radius: 5px;
  font-size: 0.9em;
  float: left;
  height: 30px;
  margin: 8px 0 12px;
  position: relative;
  width: 10%;

  a {
    display: block;
    line-height: 28px;
    text-align: center;
    width: 100%;

    .fa {
      color: $main;
    }
  }
}

.set-follow {
  float: left;
  height: 50px;
  position: relative;
  width: 50%;
}

.follow-form {
  font-size: 0.7em;
  float: left;
  height: 32px;
  margin: 7px auto 11px;
  position: absolute;
  right: 5%;
  width: 52px;
}

.form-follow {
  background: #fff;
  border: 1px solid $accent;
  border-radius: 3px;
  height: 30px;
  width: 50px;

  form,
  button {
    color: $accent;
    display: block;
    font-size: 14px;
    height: 100%;
    width: 100%;

    .fa {
      margin: 1px;
    }

    .fa-plus {
      font-size: 10px;
    }
  }
}


.form-unfollow {
  background: $accent;
  border-radius: 3px;
  height: 30px;
  width: 50px;

  form,
  button {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 100%;
    width: 100%;

    .fa {
      margin: 1px;
    }

    .fa-check {
      font-size: 10px;
    }
  }
}

.profile-bottom {
  font-size: 1em;

  .user-profile {
    margin: 5px 0;
  }
}

.follow-info a {
  font-size: 0.8em;
  color: #999;
  strong {
    color: #000;
  }
}

.post {
  position: relative;
}

.post-select {
  background: $base;
  border-top: 1px solid $back;
  border-bottom: 1px solid $back;
  height: 52px;
  position: relative;
}

.post-list {
  float: left;
  font-size: 1.1em;
  line-height: 50px;
  position: relative;
  width: 33.3%;

  a {
    display: block;
  }
}

.post-main {
  background: $base;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.post-top {
  height: 50px;
  padding: 8px;
  position: relative;
  width: 100%;
}

.post-icon {
  float: left;
  margin-right: 16px;
  position: relative;
  width: 34px;

  a {
    display: block;
    height: 34px;

    img {
      border-radius: 17.5%;
    }
  }
}

.post-user {
  float: left;
  position: relative;
  margin-right: 16px;

  .post-name {
    font-size: 0.9em;
    font-weight: 450;
    line-height: 18px;
  }

  .post-mysizeid {
    font-size: 0.7em;
    line-height: 16px;
    a {
      color: $base-grey;
    }
  }
}

.post-shoesize {
  position: relative;
  float: left;
  margin: 5px 0;
  width: 40px;
  a {
    border: 1px solid $main;
    border-radius: 5px;
    display: block;
    font-size: 0.9em;
    height: 24px;
  }
}

.post-menu {
  height: 34px;
  position: absolute;
  right: 16px;
  width: 24px;

  a {
    display: block;
    height: 24px;
    margin: 5px 0;
  }
}

.post-middle {
  position:relative;
  width: 100%;

  .post-picture {
    width: 100%;

    a {
      display: block;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .post-react {
    height: 40px;
    padding: 3px;
    a {
      display: inline-block;
      text-align: center;
      width: 34px;

      i {
        display: block;
        line-height: 34px;
      }
    }
  }
}

.post-bottom {
  font-size: 14px;
  padding: 0 16px;

  .post-content {
    margin: 5px 0;
    word-wrap: break-word;
    a {
      font-weight: 600;
      margin-right: 0.3em;
    }
  }
  .post-time {
    color: $base-grey;
    font-size: 10px;
  }
}

.no-post {
  background: $back;
  height: 150px;
  margin: 75px 0;

  i {
    color: $base-grey;
    display: block;
    line-height: 100px;
    font-size: 5em;
  }

  .no-text {
    font-weight: 500;
    line-height: 30px;
  }
}

.no-link {
  height: 60px;
  margin: 10px 0;

  a {
    background: $waccent;
    border-radius: 5px;
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 5px 10px;
    width: 150px;
    
    .fa {
      color: $base;
      float: left;
      font-size: 30px;
      line-height: 24px;
      margin: 2px 3% 2px 0;
      width: 30%;
    }

    span {
      color: $base;
      float: left;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      width: 67%;
    }
  }
}

  /* material */

/* button, form */

.button {
  width: 85%;
  font-size: 1rem;
  font-weight: 550;
  display: block;
  line-height: 40px;
  letter-spacing: 0.2px;
  border-radius: 5px;
  margin: 25px auto;

  input {
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 650;
    letter-spacing: 0.3rem;
    line-height: 40px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
}

.label-button {
  padding: 30px 0;
}

.button-mini {
  width: 30%;
}

.button-middle {
  width: 70%;
}

.button:hover {
  filter: alpha(opacity = 80);
  opacity: 0.8;
}

.twitter-color {
  background: $twi-blue;

  a {
    display: block;
    color: #ffffff;

    i {
      color: #fff;
    }
  }
}

.accent {
  background: $accent;

  input {
    background: $accent;
  }

  a {
    display: block;
    color: #ffffff;
  }
}

.base-form input {
  border-radius: 5px;
  border: 1px solid rgba(36, 36, 36, 0.30);
  color: rgba(0, 0, 0, 0.85);
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.06rem;
  line-height: 1.3em;
  margin: 25px auto;
  padding: 0.7em 1em;
  width: 85%;
}

.mb {
  margin-bottom: 50px;
}

.nls {
  width: 210px;
  input {
    letter-spacing: 0.03em;
  }
}

.label-form {
  margin-bottom: 1em;

  label {
    display: block;
    font-weight: 550;
    margin-bottom: 0.4em;
  }

  input,
  select,
  textarea {
    border-radius: 5px;
    border: 1px solid rgba(36, 36, 36, 0.30);
    color: rgba(0, 0, 0, 0.85);
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.06rem;
    line-height: 1.3em;
    padding: 0.7em 1em;
    width: 100%;
  }

  textarea {
    height: 12em;
    min-height: 8em;
    max-height: 16em;
    line-height: 1.2em;
  }
}



/* error */

.error {
  background: #fff6f6;
  border: 1.5px solid #ebccd1;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  width: 100%;

  .error-title {
    color: #e5171f;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 15px;
  }

  ul {
    color: red;
    font-size: 0.9em;
    font-weight: 500;
    list-style: none;
    line-height: 35px;
    padding: 0 5px;

    i {
      color: rgba(255, 0, 0, 0.7);
    }
  }
}

/* flash */

.flash-base {
  background: rgba(0,0,0,0);
  font-size: 1.1em;
  font-weight: 550;
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 90;

  .flash-success {
    background: rgba(223,240,216,0.85);
    color: #3c763d;
  }

  .flash-danger {
    background: rgba(255,246,246,0.85);
    color: #e5171f;
    font-size: 0.7em;
  }
}

/* settings */

.setting-select {
  position: relative;
  border-top: 1px solid $back;
}

.set-list {
  border-bottom: 1px solid $back;
  list-style: none;
  position: relative;
  height: 61px;

  a {
    display: block;
    padding: 10px 3%;
    position: relative;
    height: 60px;


    .set-text {
      float: left;
      font-weight: 500;
      line-height: 20px;
      position: relative;

      .sss {
        font-size: 0.7em;
        font-weight: 400;
        color: $twi-grey;
      }
    }

    .set-text1 {
      line-height: 40px;
    }

    .set-icon {
      float: left;
      line-height: 40px;
      position: absolute;
      right: 3%;
    }
  }
}

.set-leave {
  background: $back;
  height: 150px;
  position: relative;

  a {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
}

/* user index */

.user-list {
  border-bottom: 1px solid $back;
  display: block;
  height: 100%;
  position: relative;
}

.index-data {
  display: block;
  height: 140px;
  padding: 2%;
}

.index-left {
  height: 100%;
  float: left;
  width: 20%;
}

.index-image {
  height: 60%;
}

.index-size {
  height: 40%;
}

.index-center {
  float: left;
  height: 30%;
  width: 76%;
}

.index-name {
  height: 50%;
}

.index-mysizeid {
  height: 50%;
  font-size: 0.8em;
  color: $base-grey;
}

.index-profile {
  float: left;
  height: 66%;
  line-height: 1em;
  margin: 2% 0;
  width: 76%;
}

.act-form {
  position: absolute;
  top: 8%;
  right: 4%;
  z-index: 10;

  a {
    border: 1px solid $accent;
    border-radius: 4px;
    color: $accent;
    display: block;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1px 8px;

    .fa-plus {
      font-size: 0.7em;
      margin: 2px auto;
    }
  }
}

.reset-text {
  p {
    margin-bottom: 10px;
  }
  .sfont {
    font-size: 0.8em;
    line-height: 16px;
  }
}

@media only screen and (max-width: 767px) {
  
}

@media only screen and (min-width: 768px) {
  
}
